html body {
    background-color: #FAFAFA !important; /* Use !important to ensure it overrides Bootstrap styles */
    margin : 0 !important;
    padding :0 !important;
    color : #343a40 !important;
    font-family: 'Tahoma', sans-serif !important;
}

.custom-wrapper {
    background: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  }