html body {
    background-color: #1d2634 !important; /* Use !important to ensure it overrides Bootstrap styles */
    margin : 0 !important;
    padding :0 !important;
    color : #9e9ea4 !important;
    font-family: 'Montserrat', sans-serif !important;
}
